<div class = "container">

<h2><%= @user["username"] %></h2>
<!-- <% if @current_user %>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<% else %>
You must first <a href="/login">login</a> to post. 
<% end %> -->